@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Basit Otopark Uygulaması</h1>
    <p>Github <a href="https://github.com/yusufkorucu">Dosyalara Ulaşmak için Tıklayınız....</a>.</p>
</div>
